/*头边框*/
.thread_border_lt {
    background: url(images/dialog_lt.png) no-repeat
}

.thread_border_ct {
    background: url(images/dialog_ct.png) no-repeat
}

.thread_border_ct_div {
    float: left;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 0 0 3px;
    font-size: 13px
}

.thread_border_rt {
    background: url(images/dialog_rt.png) no-repeat
}

/*标题前面的图标*/
.thread_border_title {
    background: url("images/dialog_title.png") no-repeat;
    float: left;
    cursor: default;
    width: 20px;
    height: 20px;
}

/*关闭图标*/
.thread_border_close {
    position: relative;
    cursor: pointer;
    float: right;
    margin: 10px -2px 0 0;
    height: 20px;
    width: 28px;
    background: url("images/sprite_main_png.png") no-repeat scroll -119px -24px transparent;
}

.thread_border_close:hover {
    background-position: -119px -53px;
}

/*中间的边框*/
.tbody_boder_mrm {
    background: url(images/dialog_mrm.png) no-repeat;
}

.tbody_boder_mlm {
    background: url(images/dialog_mlm.png) no-repeat;
}

/*底部边框*/
.tfoot_border_lb {
    background: url(images/dialog_lb.png) no-repeat
}

.tfoot_border_cb {
    background: url(images/dialog_cb.png) no-repeat
}

.tfoot_border_rb {
    background: url(images/dialog_rb.png) no-repeat
}

.message_png {
    margin: 12px;
    float: left;
    background: url(images/window.gif);
    width: 32px;
    height: 32px;
}

.message_div {
    height: 60px;
    background: #EAECE9 url(images/dialog_bg.jpg) no-repeat right top;
}

.toolbar_button {
    display: block;
    float: right;
    margin-left: 20px;
    font: 12px/18px ;
    border: 1px solid #4481A3;
    padding: 1px;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    cursor: default;
    outline: none;
    width: 70px;
    -moz-border-radius: 3px;
    -moz-user-select: none;
    -webkit-border-radius: 3px;
}

.toolbar_button span {
    display: block;
    padding: 0 .5em;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: url(images/dialog_button.gif) 0 0 repeat-x;
}

.toolbar_button:hover span {
    background-position: 0 -18px;
}

#toolbar {
    background-color: #F6F6F6;
    border-top: 1px solid #DADEE5;
    padding: 5px;
    overflow: hidden;
}

